body {
text-align: center;
}

h3 {
font-family:'Montserrat',sans-serif;
font-size:1.5rem;
color: black;
line-height:1.5;
font-weight:900;
margin-top: 20px;
}

p {
color: #8f8f8f;
}




.heading-title {
font-family:'Montserrat',sans-serif;
font-size:3.5rem;
color: white;
text-align: left;
line-height:1.5;
font-weight:900;
padding-bottom: 30pt;
}





.title {
background-color:#ff4c68
}

.container-fluid {
  padding-left: 15%;
  padding-left: 15%;
  padding-top: 3%;
  padding-bottom: 18%;
}






.navbar {
padding-bottom: 4.5rem;
}

.navbar-brand {
font-family:'Ubuntu';
font-size:2.5rem;
font-weight: bold;
padding: 0px;
margin: 0px;
}

.col-lg-6 {
padding-top: 30pt;
}

.navbar.navbar-expand-lg.navbar-dark {
padding-left: 0px;
padding-right: 400px;
padding-top: 0px;
padding-bottom: 0px;
}

.nav-item {
padding: 0 18px;
}

.nav-link {
font-size: 1.5rem;
font-family: "Montserrat";
}

.rotated {
width: 50%;
transform: rotate(20deg);
position: absolute;
z-index:1;
right: 30%;
}

.collapse {
padding-right: 30%;
padding-left: 40%;
}


@media (max-width: 1028px) {
.rotated {
position: static;
transform: rotate(0);
}
#title {
text-align: center;
}
}


.row {
padding-top: 30pt;
}

.download-button {
margin: 5% 3% 5% 0;
}

.row.margin {
padding-top: 10%;
padding-right: 14%;
padding-left: 14%;
padding-bottom: 10%;
}

h3 {
font-family:'Montserrat',sans-serif;
font-size:1.5rem;
color: black;
line-height:1.5;
font-weight:900;
margin-top: 20px;
}

.icon {
color: #ef8172;
}


.icon:hover {
color: #ff4c68;
}





#testimonials {
background-color: #ef8172;
}

.testimonial-text {
font-family: "Montserrat";
font-size: 3rem;
line-height: 1.5;
color: white;
font-weight:900;
}

.testimonial-image{
width: 10%;
border-radius: 100%;
margin: 20px;
}



#press {
background-color: #ef8172;
padding-bottom: 3%;
}

.press-logo {
width: 10%;
margin: 20px 20px 50px;
}

.carousel-item {
padding: 7% 15%;
}





#pricing {
padding: 100px;
}

.pricing-column {
padding: 3% 2%;
}





#features {
background-color: white;
z-index: 1;
position:relative;
}





#cta {
background-color: #ff4c68;
padding-bottom: 10%;
}

.end_section {
font-family:'Montserrat',sans-serif;
font-size:2.5rem;
color: white;
line-height:1.5;
font-weight:900;
padding-top: 8%;
padding-bottom: 1.5%;

}

.download-button-end {
margin-right: 1%;
float: center;
text-align: center;
}




#footer {
padding-top: 80px;
padding-bottom: 30px;
}

.download-button {
float: left;
padding-right: 4%;
}

.social-icon {
padding-right: 1%;
margin-bottom: 1%;
}